/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a { color: inherit; }
/*background*/

/*MainPage A*/
#vsc-screenshot {
    width: 750px;
    box-shadow: 2px;
}
/*download*/
