/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a { color: inherit; }
/*fonts*/

/*responsive*/

/*header*/

/*logo*/

/*navigation Bar*/

/*main*/

/*footer*/

/*mediaQueries*/
