/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a { color: inherit; }
/*fonts*/
/*background*/

/*MainPage A*/
#vsc-screenshot {
    border-radius: 13%;
}
/*menuCenter*/
div { display: block; }
.row h1 {
    font-size: 3rem;
    text-align: center;
}
.column {
    margin: 0 30;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.col-33 {
    width: 50%;
    float: left;
    padding-left: 30%;
}
.col-66 {
    width: 50%;
    float: right;
    padding-right: 30%;
}
#features {
    height: 60vh;
}
/*download*/
