/*reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a { color: inherit; }
/*fonts*/
/*background*/

/*MainPage A*/
#vsc-screenshot {
    border-radius: 11%;
}
/*menuCenter*/
div { display: block; }
.row h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
}
.column {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.col-33 {
    width: 60%;
    margin-top: 4em;
    position: absolute;
    float: left;
}
.col-66 {
    width: 60%;
    float: right;
}
#features {
    height: 60vh;
    margin-top: 5em;
}
/*download*/
