:root {
    --gallery-color: #dce3d4;
    --gallery-text: #4c7226;
    --link: #40a977;
}

/*fonts*/
@font-face {
  font-family: 'Liberation-Sans';
  src: url(assets/fonts/liberationSans/LiberationSans-Regular.ttf);
}

/*main container*/
.content-push {
    margin-top: 40px;
    height: 100%;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1060px;
}

/*color changes*/
.overview {
    background-color: var(--text);
}
.overview h1, h2, h3, h4, h5 ,h6, p, #text-right a {
    color: var(--over-text);
}

/*main-content*/
.central-content {
    max-width: 780px;
}

/*main-fonts*/
.central-content h1 {
    font-weight: 200;
    margin-bottom: 0.5em;
    font-size: 3em;
}
.central-content h2,h3,h4,h5,h6 {
    font-weight: 300;
    margin-bottom: 0.6em;
    padding-top: 2em;
    font-size: 1.8em;
}
.central-content p {
    font-size: 1.1em;
    font-family: 'Liberation-Sans', sans-serif;
}

/*image-releated*/
.carrousel {
    margin: 0 auto;
}
#img-carrousel {
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*extension-market*/
#extensions-market {
     margin-top: 2em;
     display: flex;
     flex-direction: column;
}
.one-cell {
    float: left;
    padding: 2em 1em;
    margin: 0.2em 0.2em;
    text-decoration: none;
    width: 24%;
    border: 1px solid #819c67;
    border-radius: 3px;
    background-color: var(--gallery-color);
    font-size: 0.9em;
}
.one-cell p {color: var(--gallery-text);}
/*description-item*/
.name-cell {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    position: relative;
}
.info-cell {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.publisher {
    margin-right: 3em;
    font-size: 0.8em;
}
.installs {
    display: flex;
    margin-bottom: 1em;
}
.install-count {
    font-size: 0.9em;
}
.details {
    font-size: 0.8em;
    text-align: justify;
}
.separation {
    padding: 0 1em;
}
/*icons*/
.icon-cell {
    text-align: center;
}
.icon-cell > img { 
    width: 72px;
    margin-bottom:1em;
}
.install-icon img {
    width: 12px;
    height: 10px;
    margin-right: 2px;
}

/*moreMarketplace*/
#text-right {
    float: right;
    margin-top: 1.5em;
    margin-right: 1em;
    font-size: 0.8em;
    margin-bottom: 2em;
}
#text-right:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/*firstSteps*/
.firstSteps p {
    line-height: 2.5em;
}
.firstSteps a {
    color: var(--link);
}
.firstSteps a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/*feedback*/
.feedback-box {
    border: 1px solid #819c67;
    border-radius: 3px;
    background-color: var(--gallery-color);
    padding: 1em 3em;
}
