/*fonts*/
@font-face {
  font-family: 'Liberation-Sans';
  src: url(assets/fonts/liberationSans/LiberationSans-Regular.ttf);
}

/*main container*/
.content-push {
    margin-top: 40px;
    height: 100%;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1060px;
}
/*color changes*/
.overview {
    background-color: var(--text);
}
.overview h1, h2, h3, h4, h5 ,h6, p {
    color: var(--over-text);
}
/*main-content*/
.central-content {
    max-width: 750px;
}
/*main-fonts*/
.central-content h1 {
    font-weight: 200;
    margin-bottom: 0.5em;
}
.central-content h2,h3,h4,h5,h6 {
    font-weight: 300;
    margin-bottom: 0.5em;
}
.central-content p {
    font-size: 1.1em;
    font-family: 'Liberation-Sans', sans-serif;
}
/*image-releated*/
#img-carrousel {
    margin-bottom: 2em;
    margin-top: 1em;
}

/*extension-market*/
#extension-market {}
.one-cell {
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 8px;
    text-decoration: none;
    width: 25%;
}
.cover {}
.details {}
.separation {}
.python {}

.icon-cell {
        text-align: center;
    padding: 16px 0;
}
.icon-cell img { width: 72px;}
.install-icon img {
    width: 12px;
    height: 10px;
}
