header#plugin {
  padding: 0;
}
#main {
  background: white;
  color: #574c4f;
  padding: 2em;
}
.main-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10em;
}
/* LIVE-SHARE CARD */
.live-share {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
}
.live-share h4 a {
  font-size: 28px;
  font-weight: 300;
  color: var(--green);
}
.live-share h4 a:hover {
  text-decoration: underline;
}
.live-share p {
  font-weight: 400;
}
.head {
  margin-bottom: 1em;
}
.head,
.meta-left,
.meta-right {
  padding: .5em 1em;
}
.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
}
.meta-right span {
  margin-right: .5em;
  color: #999;
}
.btn-install {
  background: #68a672;
  background-image: linear-gradient(#75bb80, #68a672);
  background-repeat: repeat-x;
  border-color: #62a26c;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  line-height: 1.5em;
  cursor: pointer;
  transition: background 200ms ease-in-out;
}
.btn-install:hover {
  background: #5B9A65;
}
.star {
  color: orangered;
}
/* DOCUMENTATION CARD */
.card{
  border-radius: 3px;
  font-size: .9em;
}
.card ul {
  display: table;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.card ul li {
  display: table-cell;
  list-style-type: none;
  width: 1%;
  text-align: center;
  border-right: 1px solid #ddd;
  white-space: nowrap;
  padding: .5em 1em;
}
.card ul li:last-child {
  border: none;
}
.card ul li:hover {
  color: var(--green);
}
/* DOCUMENTATION TEXT */
.documentation h1 {
  font-size: 2.5em;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  margin: 1em auto;
}
.documentation h2 {
  font-size: 2em;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  margin: 2em auto 1em;
}
.documentation p {
  font-size: 1em;
  margin-bottom: 15px;
  color: var(--footer-text);
}
.documentation a {
  color: var(--green);
}
.documentation li {
  margin: 15px;
  line-height: 1.7;
  display: list-item;
}
.documentation img {
  margin: 15px 0;
}
.documentation code {
  background: rgba(0,0,0,.04);
  padding: .02em 0;
  border-radius: 3px;
  color: #333;
  font-size: 1.2em;
  line-height: inherit;
  white-space: normal;
}
.documentation blockquote {
  color: #777;
  padding: 0 15px;
  border-left: 4px solid #ddd;
  margin: 15px;
  margin-left: 0;
}
.imp {
  font-weight: 500;
}

/* FOOTER */
footer {
  display: block;
}
footer ul {
  list-style: none;
}
.footer {
    background-color: var(--footer);
    height: 55px;
    padding: 15px;
    color: var(--footer-text);
    align-items: center;
}
.footer-elements {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
    display: flex;
}
#footer-left {
    float:left;
}
#footer-left li {
    float: left;
    margin: 0 1em;
}
#footer-rigth {
    float: right;
}