@import"plugin.css";
:root {
 --navbar: #584A4F;
 --bg: #353537;
 --text: #efeae1;
 --darkerText:#343233;
 --darkText: #776F62;
 --yellow: #FFC31E;
 --yellow-b-hover: #ffc31f;
 --yellow-b-active: #ebac00;
 --yellow-buttons: #FFD152;
 --blueGreen: #45EDC6;
 --orange: #D46E2D;
 --green: #3FA774;
 --footer: #EFEAE1;
 --footer-text: #574c4f;
 --over-text: #66595c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background: var(--bg);
 color: #EEDBB9;
 font-family: 'Nunito', sans-serif;
 font-weight: 400;
}
h1 {
  font-size: 2.4em;
  font-weight: 200;
}
h3 {
  font-size: 2em;
  letter-spacing: .05em;
  font-weight: 200;
  margin-bottom: .85em;
}
h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: .25em;
}
p {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
.text-center {
  text-align: center;
}
.link {
  color: var(--yellow);
  transition: opacity 200ms ease-in-out;
}
.link:hover {
  opacity: .8;
}
/************
    NAVBAR
************/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.7em 0;
  background: var(--navbar);
  margin-bottom: 2em;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  float: left;
  margin: 0 .5em;
  font-size: 0.9em;
  color: var(--text);
}
.login a {
    font-size: 0.9em;
    color: var(--text);
}
nav ul li:hover,
.login a:hover {
  color: var(--green);
}
/************
  FEATURES
************/
#real__features {
  margin-top: 7em;
}
.wrapper-features {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 79%;
  margin: 0 auto;
}
.text {
  padding: 2em 5em 5em;
  justify-content: center;
}
.text p {
  margin-bottom: 3em;
  width: 90%;
  text-justify: left;
}
.text .btn {
  padding: .5em 1em;
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  /* color: #343233; */
  outline: none;
  color: var(--text);
  cursor: pointer;
  transition: opacity 200ms easy-in-out;
}
.btn-right { 
    float: right;
}
.text .btn:active {
  transform: translateY(2px);
}
.intelliSense {
  background: #2F3192;
}
.debugging{
  background: #37B349;
}
.git {
  background: #C52D36;
}
.azure {
  background: #0172C6;
}
.text .btn:hover {

  opacity: .9;
}
/*************
  EXTENSION
*************/
#extensions {
  padding: 7em 4em;
}
.text-extensions {
  margin: 0 auto;
}
.text-extensions p {
  width: 80%;
}
/* .image-extensions img { } */

/************
  DOWNLOAD
************/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}
.windows,
.apple,
.linux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
}
.download-button {
  margin-top: 1.5em;
}
.download-button button {
  /* padding: .25em 1.25em; */
  padding: 0.5em 0.8em;
  background: var(--yellow-buttons);
  color: var(--darkerText);
  outline: none;
  font-weight: 500;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}
.download-button button:hover {
  opacity: .9;
  background-color: var(--yellow-b-hover);
}
.download-button button:active {
    background-color: var(--yellow-b-active);
    transform: translateY(2px);
}


/***********
  CONTACT
***********/
#contact {
  background: #2C2A2B;
  padding: 7em;
}
.terms {
  margin-bottom: 5em;
}
.terms h3 {
  margin-bottom: .5em;
}
.terms p {
  font-size: 1.2em;
  font-weight: 400;
}
.download-text {
  width: 75%;
  margin: auto;
  line-height: 2.5;
}
